@{
    ViewBag.Title = "Details";
}
<input type="hidden" id="companyId" value="@ViewBag.companyId" />


<style>
    .carouselContainer {
        overflow: visible;
        //height:350px;
    }

        .carouselContainer img {
            // height: 350px;
            height: auto;
            width: 100%;
        }
</style>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-md-9" id="adsBinding">
            <div data-bind="visible:error()" class="alert alert-success">
                <strong>Error! </strong><span data-bind="text:error"></span>
            </div>
            <div data-bind="foreach: showPage">
                <div data-bind="visible:statusError" class="alert alert-success">
                    <strong>Pending admin approval! </strong><span data-bind="text:statusError"></span>
                </div>
                <div class="row">
                    <div class="ibox product-detail">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="">
                                    <div class="pull-left" style="margin-right:12px">
                                        <img src="~/Images/profile.jpg" />
                                    </div>
                                    <div data-bind="visible:!isPageEditing()">
                                        <span data-bind="visible:loginUserId == createdBy">
                                            <a data-bind="click: function(){return deletePage(id)}" class="btn btn-white btn-xs pull-right "> Delete</a><a data-bind="click: function(){return editPage(id)}" class="btn btn-white btn-xs pull-right"> Edit</a>
                                        </span>
                                        <h2 data-bind="text:title" class="font-bold m-b-xs"></h2>
                                        <p data-bind="text:shortAbout"></p>
                                    </div>
                                    <div data-bind="visible:isPageEditing()">
                                        <h2 class="font-bold m-b-xs">Company Name:<input type="text" placeholder="Company Name" class="form-control" data-bind="value:title" required /> </h2>
                                        one line description:<input type="text" class="form-control" placeholder="One line description of company" data-bind="value:shortAbout" required />
                                        Details:<textarea class="msgTextArea form-control" placeholder="Add company Details.." data-bind="jqAutoresize: {},value:longAbout"></textarea>
                                        <button class="btn btn-primary" data-bind="click:updatePage">Update</button>
                                    </div>
                                    <div>
                                        <ul class="tag-list" data-bind="foreach:showTags" style="padding: 0">
                                            <li><a target="_blank" data-bind="attr:{href:'/Tag/' + $data}"><i class="fa fa-tag"></i>&nbsp; <span data-bind="text:$data"></span> </a></li>
                                        </ul>
                                    </div>
                                    <br /><br />

                                </div>
                                <div class="">
                                    Overview discussion Gallery
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-9">
                                    <h2>Location</h2>
                                    <h3>HeadOffice</h3>
                                    <div data-bind="visible:!isMainBranchEditing()">
                                        <span data-bind="visible:loginUserId == createdBy">
                                            <a data-bind="click: function(){return editLocation(id)}" class="btn btn-white btn-xs pull-right"> Edit</a>
                                        </span>
                                        <span data-bind="if:exectLocation">
                                            <span data-bind="text:exectLocation"></span>,
                                        </span>
                                        <span data-bind="if:popularPlace">
                                            <span data-bind="text:popularPlace"></span>,
                                        </span>
                                        <span data-bind="text:cityName"></span>
                                        <h4>Contact Info</h4>
                                        <div data-bind="if:contactNo1">
                                            <span data-bind="text:contactNo1"></span>
                                        </div>
                                        <div data-bind="if:contactNo2">
                                            <span data-bind="text:contactNo2"></span>
                                        </div>
                                        <h5>Established since <span data-bind="text:friendlySince"></span></h5>
                                    </div>
                                    <div data-bind="visible:isMainBranchEditing()">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">City</label>
                                            <div class="col-md-10">
                                                <select id="select-city" class="demo-default" name="city" data-bind="options: availableCities,
                       value: selectedcityName,
                       optionsCaption: 'Choose City...'"></select>
                                            </div>
                                        </div>
                                        <div data-bind="with:selectedcityName">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Famous Place</label>
                                                <div class="col-md-10">
                                                    <select id="select-popularPlace" class="demo-default" name="popularPlace" data-bind="options: $parent.availablePopularPlaces,
                       value: $parent.selectedpopularPlace,
                       optionsCaption: 'Choose Famous place...'"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="with:selectedpopularPlace">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Exect location</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" data-bind="value:$parent.exectLocation" name="exectLocation" />
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Contact Inof</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Contact No 1</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" data-bind="value:contactNo1" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Contact No 2</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" data-bind="value:contactNo2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Company is established since</label>
                                            <div class="col-md-10">
                                                <input type="date" class="form-control" data-bind="value:since" />
                                            </div>
                                        </div>
                                        <button data-bind="click:updateMainBranchLocation">Submit</button>
                                    </div>
                                    @*<p data-bind="text:longAbout"></p>
                            facebook link, tw , website*@

                                    <span data-bind="visible:loginUserId == createdBy">
                                        <a data-bind="click: function(){return addNewBranch()}" class="btn btn-white btn-xs pull-right"> Add new Branch</a>
                                    </span>
                                    <h3>Comany Network</h3>
                                    <div data-bind="visible:isAddingNewBranch()">
                                        <h4>Location</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">City</label>
                                            <div class="col-md-10">
                                                <select id="select-city1" class="demo-default" name="city" data-bind="options: availableCities,
                       value: BcityName,
                       optionsCaption: 'Choose City...'"></select>

                                            </div>
                                        </div>
                                        <div data-bind="with:BcityName">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Famous Place</label>
                                                <div class="col-md-10">
                                                    <select id="select-popularPlace1" class="demo-default" name="popularPlace" data-bind="options: $parent.availablePopularPlaces,
                       value: $parent.BpopularPlace,
                       optionsCaption: 'Choose Famous place...'"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="with:BpopularPlace">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Exect location</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" data-bind="value:$parent.BexectLocation" />
                                                </div>
                                            </div>
                                        </div><hr /><br />
                                        <h4>Contact Info</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Contact No 1</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" data-bind="value:BcontactNo1" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Contact No 2</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" data-bind="value:BcontactNo2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Branch is established since</label>
                                            <div class="col-md-10">
                                                <input type="date" class="form-control" data-bind="value:Bsince" name="since" />
                                            </div>
                                        </div>
                                        <button data-bind="click:saveNewBranch">Submit</button>
                                    </div>
                                    <div data-bind="foreach:showBranches">
                                        <div data-bind="visible:!isBranchEditing()">
                                            <hr />
                                            <span data-bind="visible:$parent.loginUserId == $parent.createdBy">
                                                <a data-bind="click: function(){return editBranch()}" class="btn btn-white btn-xs pull-right"> Edit</a>
                                                <a data-bind="click:  $parent.deleteBranch" class="btn btn-white btn-xs pull-right"> Delete</a>
                                            </span>
                                            <h4>Location</h4>
                                            <span data-bind="if:exectLocation">
                                                <span data-bind="text:exectLocation"></span>,
                                            </span>
                                            <span data-bind="if:popularPlace1">
                                                <span data-bind="text:popularPlace1"></span>,
                                            </span>
                                            <span data-bind="text:city"></span>
                                            <h4>Contact Info</h4>
                                            <div data-bind="if:contactNo1">
                                                <span data-bind="text:contactNo1"></span>
                                            </div>
                                            <div data-bind="if:contactNo2">
                                                <span data-bind="text:contactNo2"></span>
                                            </div>
                                            <h5>Established since <span data-bind="text:friendlySince"></span></h5>
                                        </div>
                                        <div data-bind="visible:isBranchEditing()">
                                            <h4>Location</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">City</label>
                                                <div class="col-md-10">
                                                    <select id="select-city2" class="demo-default" data-bind="options: availableCities,
                       value: selectedCity,
                       optionsCaption: 'Choose City...'"></select>

                                                </div>
                                            </div>
                                            <div data-bind="with:selectedCity">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">Famous Place</label>
                                                    <div class="col-md-10">
                                                        <select id="select-popularPlace2" class="demo-default" name="popularPlace" data-bind="options: $parent.availablePopularPlaces,
                       value: $parent.selectedPP,
                       optionsCaption: 'Choose Famous place...'"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-bind="with:selectedPP">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">Exect location</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" data-bind="value:$parent.exectLocation" /> @*doubt here*@
                                                    </div>
                                                </div>
                                            </div>
                                            <h4>Contact Inof</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Contact No 1</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" data-bind="value:contactNo1" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Contact No 2</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" data-bind="value:contactNo2" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Branch is established since</label><div data-bind="text:since"></div>
                                                <div class="col-md-10">
                                                    <input type="date" class="form-control" data-bind="value:since" />
                                                </div>
                                            </div>
                                            <button data-bind="click:function(){return updateBranch($data,$parent.id)}">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">abc def</div>

    </div>

</div>

@Html.Partial("/Views/Shared/_Chat.cshtml")
@Html.Partial("~/Views/Shared/_UserLogin.cshtml")

@section Styles {
    @Styles.Render("~/plugins/slickStyles")
    @Styles.Render("~/plugins/slickThemeStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/jsTree")
    @Styles.Render("~/plugins/sweetAlertStyles")
@Styles.Render("~/scripts/selectizeStyles")
}


@section Scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/autosize")
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/slick")
    @Scripts.Render("~/plugins/jsTree")
    @Scripts.Render("~/bundles/categoryTree")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/sweetAlert")
@Scripts.Render("~/scripts/selectize")
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/UserLogin.js"></script>
    <script src="~/Scripts/app/chat.js"></script>
    <script src="~/Scripts/_Comments.js"></script>
    <script>
        var myCompanyId = $("#companyId").val();
        
        function Branch(data) {
            var self = this;
            data = data || {};
            self.id = data.id;
            self.cityId =ko.observable( data.cityId );
            self.cityName = ko.observable(data.cityName);
            self.city = ko.observable(data.cityName);
            self.popularPlaceId = ko.observable(data.popularPlaceId);
            self.popularPlace = ko.observable(data.popularPlace || "");
            self.popularPlace1 = ko.observable(data.popularPlace || "");
            self.exectLocation =ko.observable( data.exectLocation || "");
            self.since = ko.observable(new Date(data.since));
            //console.log(data.since);
            console.log(self.since());
            self.since(self.since().toString('dd-MM-yy'));
            console.log(self.since());
            self.friendlySince = ko.observable(getTimeAgo(data.since || ""));
            self.contactNo1 = ko.observable(data.contactNo1);
            self.contactNo2 = ko.observable(data.contactNo2);

            self.selectedCity = ko.observable(data.cityName || "");
            self.selectedPP = ko.observable(data.popularPlace || "");

            self.isBranchEditing = ko.observable(false);
            self.editBranch = function () {
                self.loadCities();
                self.isBranchEditing(true);
            }

            self.updateBranch = function (branch, companyId) {
                var aaaa = {id: branch.id, companyId: companyId, since: branch.since(), contactNo1: branch.contactNo1(), contactNo2: branch.contactNo2() };
                $.ajax({
                    url: '/api/Company/OfficeBranch?city=' + branch.selectedCity() + '&popularPlace=' + branch.selectedPP() + '&exectLocation=' + branch.exectLocation() + '&SaveOrUpdate=Update',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'POST',
                    data: ko.toJSON(aaaa),
                    success: function (data) {
                        self.isBranchEditing(false);
                        self.city(self.selectedCity());
                        self.popularPlace1(self.selectedPP());
                    },
                    error: function () {
                        toastr.error("failed to update Info. Please refresh page and try again", "Error!");
                    }
                });
            }

            self.availableCities = ko.observableArray();
            self.availablePopularPlaces = ko.observableArray();

            self.since.subscribe(function (value) {
                self.friendlySince(getTimeAgo(self.since()));
            });
            self.selectedCity.subscribe(function (value) {
                self.loadPopularPlaces();
            });
            self.loadCities = function () {
                $.ajax({
                    url: '/api/Location/GetCities',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        self.availableCities.removeAll();
                        $.each((data), function (i, item) { self.availableCities.push(item) });
                        self.selectedCity(self.cityName());
                        $('#select-city2').selectize({
                            create: true,
                            plugins: ['inputMaxlength'],
                            inputMaxlength: 39,
                            sortField: {
                                field: 'text',
                                direction: 'asc'
                            },
                        });
                    },
                    error: function (jqXHR, status, thrownError) {
                        toastr.error("failed to load Cities.Please refresh page and try again", "Error");
                    }
                });
            }
            self.loadPopularPlaces = function () {
                self.availablePopularPlaces.removeAll();
                $.ajax({
                    url: '/api/Location/GetPopularPlaces?city=' + self.selectedCity(),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        $.each((data), function (i, item) { self.availablePopularPlaces.push(item) });
                        self.selectedPP(self.popularPlace());
                        $('#select-popularPlace2').selectize({
                            create: true,
                            plugins: ['inputMaxlength'],
                            inputMaxlength: 49,
                            sortField: {
                                field: 'text',
                                direction: 'asc'
                            },
                        });
                    },
                    error: function (jqXHR, status, thrownError) {
                        toastr.error("failed to load Famous Places.Please refresh page and try again", "Error");
                    }
                });
            }
        }
        var imageUrls = [];
        function adImages(data, adId, imagesCount) {
            var self = this;
            data = data || {};
            self.link = "/Images/Ads/" + adId + '_' + imagesCount + data.imageExtension;// also loop after _
            imageUrls.push(self.link);
        }
        function Tag(data) {
            var self = this;
            data = data || {};
            self.id = data.id;
            self.name = data.name;
            self.info = data.info || "";
            self.followers = data.followers || 0;
        };
        function CompanyPage(data) {
            var self = this;
            //slick
            self.images = ko.observableArray(imageUrls);
            self.options = {};
            self.imageIndex = ko.observable(1);

            data = data || {};

            self.showTags = ko.observableArray();
            if (data.tags) {
                $.each((data.tags), function (i, item) { self.showTags.push(item) });
            }

            self.title = ko.observable( data.title);
            self.shortAbout = ko.observable(data.shortAbout);
            self.longAbout = ko.observable(data.longAbout);
            self.contactNo1 = ko.observable(data.contactNo1);
            self.contactNo2 = ko.observable(data.contactNo2);
            self.email = ko.observable(data.email);
            self.fblink = ko.observable(data.fblink);
            self.websitelink = ko.observable(data.websitelink);
            self.twlink = ko.observable(data.twlink);
            self.owner = ko.observable(data.owner);
            self.logoExtension = data.logoExtension;

            self.createdByName = data.createdByName;
            self.createdBy = data.createdById;
            self.id = data.id;
            self.since = ko.observable( data.since );
            self.friendlySince = ko.observable(getTimeAgo(data.since || ""));
            self.time = data.time;
            self.friendlyTime = getTimeAgo(data.time);
            self.loginUserId = data.loginUserId || "";
            self.loginUserProfileLink = '/Images/Users/p' + self.loginUserId + data.loginUserProfileExtension;
            
            self.cityId = data.cityId;
            self.cityName = ko.observable(data.cityName);
            self.selectedcityName = ko.observable();
            self.popularPlaceId = data.popularPlaceId;
            self.popularPlace = ko.observable(data.popularPlaceName || "");
            self.selectedpopularPlace = ko.observable("");
            self.exectLocation =ko.observable( data.exectLocation || "");
            self.category = data.category;
            self.showBranches = ko.observableArray(); // for branches
            
            self.BcityName = ko.observable("");
            self.BpopularPlace = ko.observable("");
            self.BexectLocation = ko.observable('');
            self.Bsince = ko.observable();
            self.BcontactNo1 = ko.observable();
            self.BcontactNo2 = ko.observable();

            self.isAddingNewBranch = ko.observable(false);
            self.addNewBranch = function () {
                self.isAddingNewBranch(true);
                console.log(self.availableCities());
                self.loadCitiesB();
                
            }
            self.since.subscribe(function (value) {
                self.friendlySince(getTimeAgo(self.since()));
            });
            self.saveNewBranch = function (branch) {
                if (!branch.BcityName()) {
                    toastr.info("Please enter city name");
                    return;
                }
                if (!branch.BpopularPlace()) {
                    toastr.info("Please enter a famous place near this branch");
                    return;
                }
                if (!(branch.BcontactNo1() && branch.BcontactNo2())) {
                    toastr.info("Please provide atleast one contact number");
                    return;
                }
                var aaaa = {companyId:self.id, since:branch.Bsince(), contactNo1: branch.BcontactNo1(), contactNo2: branch.BcontactNo2() };
                $.ajax({
                    url: '/api/Company/OfficeBranch?city=' + branch.BcityName() + '&popularPlace=' + branch.BpopularPlace() + '&exectLocation=' + branch.BexectLocation() + '&SaveOrUpdate=Save',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'POST',
                    data: ko.toJSON(aaaa),
                    success: function (data) {
                        self.isAddingNewBranch(false);
                        self.showBranches.push(new Branch(data));
                    },
                    error: function () {
                        toastr.error("failed to update Info. Please refresh page and try again", "Error!");
                    }
                });
            }
            self.isReported = ko.observable(data.isReported);
            self.isSaved = ko.observable(data.isSaved);
            self.reportedCount = ko.observable(data.reportedCount);
            self.showImages = ko.observable();
            self.views = data.views;
            self.savedCount = ko.observable(data.savedCount);
            self.statusError = "";
            self.isVisible = true;
            self.status = data.status;
            if (data.status == "p") {
                self.statusError = "This page will be visible to public once it is approved by admin";
                if (self.loginUserId != self.postedById) {
                    self.isVisible = false;
                }
            }
            self.deleteBranch = function (branch) {
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this Info!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: '/api/Company/DeleteBranch/' + branch.id,
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'POST',
                        success: function (data) {
                            self.showBranches.remove(branch);
                            swal("Deleted!", "This Branch has been deleted.", "success");
                        },
                        error: function () {
                            toastr.error("failed to delete comany Branch. Please refresh page and try again", "Error!");
                        }
                    });
                });
            }
            self.isPageEditing = ko.observable(false);
            self.isMainBranchEditing = ko.observable(false);

            //location
            self.availableCities = ko.observableArray();
            self.availablePopularPlaces = ko.observableArray();
            self.loadCities = function () {
                $.ajax({
                    url: '/api/Location/GetCities',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        self.availableCities.removeAll();
                        $.each((data), function (i, item) { self.availableCities.push(item) });
                        self.selectedcityName(self.cityName());
                        console.log(self.selectedcityName());
                        $('#select-city').selectize({
                            create: true,
                            plugins: ['inputMaxlength'],
                            inputMaxlength: 39,
                            sortField: {
                                field: 'text',
                                direction: 'asc'
                            },

                        });
                    },
                    error: function (jqXHR, status, thrownError) {
                        toastr.error("failed to load Cities.Please refresh page and try again", "Error");
                    }
                });
            }
            self.loadPopularPlaces = function () {
                self.availablePopularPlaces.removeAll();
                $.ajax({
                    url: '/api/Location/GetPopularPlaces?city=' + self.selectedcityName(),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        $.each((data), function (i, item) { self.availablePopularPlaces.push(item) });
                        self.selectedpopularPlace(self.popularPlace());
                        $('#select-popularPlace').selectize({
                            create: true,
                            plugins: ['inputMaxlength'],
                            inputMaxlength: 49,
                            sortField: {
                                field: 'text',
                                direction: 'asc'
                            },
                        });
                    },
                    error: function (jqXHR, status, thrownError) {
                        toastr.error("failed to load Famous Places.Please refresh page and try again", "Error");
                    }
                });
            }
            self.loadCitiesB = function () {
                $.ajax({
                    url: '/api/Location/GetCities',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        self.availableCities.removeAll();
                        $.each((data), function (i, item) { self.availableCities.push(item) });
                        $('#select-city1').selectize({
                            create: true,
                            plugins: ['inputMaxlength'],
                            inputMaxlength: 39,
                            sortField: {
                                field: 'text',
                                direction: 'asc'
                            },

                        });
                    },
                    error: function (jqXHR, status, thrownError) {
                        toastr.error("failed to load Cities.Please refresh page and try again", "Error");
                    }
                });
            }
            self.loadPopularPlacesB = function () {
                self.availablePopularPlaces.removeAll();
                $.ajax({
                    url: '/api/Location/GetPopularPlaces?city=' + self.BcityName(),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        $.each((data), function (i, item) { self.availablePopularPlaces.push(item) });
                        $('#select-popularPlace1').selectize({
                            create: true,
                            plugins: ['inputMaxlength'],
                            inputMaxlength: 49,
                            sortField: {
                                field: 'text',
                                direction: 'asc'
                            },
                        });
                    },
                    error: function (jqXHR, status, thrownError) {
                        toastr.error("failed to load Famous Places.Please refresh page and try again", "Error");
                    }
                });
            }
            
            var sub = self.selectedcityName.subscribe(function (value) {
                self.loadPopularPlaces();
            });
            var sub = self.BcityName.subscribe(function (value) {
                self.loadPopularPlacesB();
            });
            if (data.branches != null) {
                var branch = $.map(data.branches, function (item) { return new Branch(item); });
                self.showBranches(branch);
            }
            
            if (data.adTags != null) {
                var tags = $.map(data.adTags, function (item) { return new Tag(item); });
                self.showTags(tags);
            }

            
            
            if (data.adImages) {
                var imagesCount = 1;
                var img = $.map(data.adImages, function (item, ia) { return new adImages(item, data.id, imagesCount++); });
                self.showImages(img);
            }
            self.editLocation = function () {
                self.loadCities();
                self.isMainBranchEditing(true);
            }
            
            self.updatePage = function (page) {
                $.ajax({
                    url: '/api/Company/UpdatePage/',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'POST',
                    data: ko.toJSON(page),
                    success: function (data) {
                        self.isPageEditing(false);
                    },
                    error: function () {
                        toastr.error("failed to update Info", "Error!");
                    }
                });
            }
            self.updateMainBranchLocation = function (page) {
                $.ajax({
                    url: '/api/Company/HeadOfficeLocation?city=' + self.selectedcityName() + '&popularPlace=' + self.selectedpopularPlace() + '&exectLocation=' + self.exectLocation(),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'POST',
                    data:  ko.toJSON(page),
                    success: function (data) {
                        self.isMainBranchEditing(false);
                        self.cityName(self.selectedcityName());
                        self.popularPlace(self.selectedpopularPlace());
                    },
                    error: function () {
                        toastr.error("failed to update Info", "Error!");
                    }
                });
            }
            self.saveAd = function (ad) {
                $.ajax({
                    url: '/api/User/SaveAd/' + ad.id,
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'POST',
                    success: function (data) {
                        self.savedCount(data.count);
                        if (data.text == "Deleted") {
                            self.isSaved(false);

                        } else {
                            self.isSaved(true);
                        }
                    },
                    error: function () {
                        toastr.error("failed to Save Ad. Please refresh page and try again", "Error!");
                    }
                });
            }
            self.editPage = function (id) {
                self.isPageEditing(true);
            }
            self.deletePage = function (id) {
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this Ad!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: '/api/Electronic/DeleteAd/' + id,
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'POST',
                        success: function (data) {
                            swal("Deleted!", "Your Ad has been deleted.", "success");
                            window.location.href = "/User/Index/" + self.loginUserId;
                        },
                        error: function () {
                            toastr.error("failed to delete Ad. Please refresh page and try again", "Error!");
                        }
                    });
                });
            }
            self.deleteComment = function (id) {
                $.ajax({
                    url: '/api/Comment/DeleteComment/' + id,
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'POST',
                    // data: ko.toJSON(id),
                    success: function (data) {
                        self.showComment.remove(function (item) {
                            return item.id == id;
                        });
                    },
                    error: function () {
                        toastr.error("failed to delete comment", "Error!");
                    }
                });
            }

            self.checkEnter = function (d, e) {
                if (e.keyCode == 13) {
                    self.addcomment();
                }
            }
            //self.commentsHub.client.appendCommentToMe = function (com) {
            //    self.showComment.push(new comment(com));
            //    self.newComment('');
            //}
            self.newComment = ko.observable();
            self.addcomment = function () {
                if (self.loginUserId) {
                    var com = new comment();
                    com.adId = self.id;
                    com.description(self.newComment());
                    com.description(com.description().slice(0, -1));
                    if (com.description() != null && com.description().trim() != "") {
                        com.time = new Date($.now());
                        com.description = com.description().slice(0, -1);
                        //self.commentsHub.server.addComment(com).fail(function (err) { toastr.error("failed to post comment ", "Error!"); });
                        $.ajax({
                            url: '/api/Comment/PostComment',
                            dataType: "json",
                            contentType: "application/json",
                            cache: false,
                            type: 'POST',
                            data: ko.toJSON(com),
                            success: function (data) {
                                self.showComment.push(new comment(data));
                                self.newComment('');
                            },
                            error: function (jqXHR, status, thrownError) {
                                toastr.error("failed to post comment", "Error");
                            }
                        });
                    }
                } else {
                    //show modal
                    toastr.info("You must be login to post comment", "Oops!");
                }
            }

        }
        function Report() {
            var self = this;
            self.selectedVal = ko.observable("spam");
            self.reportText = "";
            self.report = function () {
                if ($("#loginUserId").val()) {
                    var data = {
                        adId: myAdId,
                        details: self.reportText,
                        type: self.selectedVal(),
                    };
                    $.ajax({
                        url: '/api/Electronic/reportAd',
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'POST',
                        data: ko.toJSON(data),
                        success: function (data) {
                            $("#report").modal('hide');
                            toastr.info("Our team can contact you for details", "Thanks for feedback!");
                        },
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            toastr.info(err.Message);
                            $("#report").modal('hide');
                        }
                    })
                } else {
                    toastr.info("You must be login to report this ad", "Na na!");
                }
            }
        }
        function viewModel() {
            var self = this;
            treeModel();
            AccountViewModel();
            ChatViewModel();
            Report();
            //initillizing hub
           // self.commentsHub = $.connection.adComments;
            self.showPage = ko.observable();
            self.error = ko.observable();
            self.loadPage = function () {
                var companyId = myCompanyId;
                url_address = '/api/Company/GetPage/' + companyId;
                $.ajax({
                    url: url_address,
                    dataType: "json",
                    type: 'GET'
                })
                .done(function (data) {
                    var mappedads = $.map(data, function (item) { return new CompanyPage(item); });
                    self.showPage(mappedads);
                })
                .fail(function () {
                    self.error("This Business Page has been deleted or is unavailable. ");
                });
            }

            self.loadPage();
            return self;
        }

        function getTimeAgo(varDate) {
            if (varDate) {
                return $.timeago(varDate.toString().slice(-1) == 'Z' ? varDate : varDate + 'Z');
            }
            else {
                return '';
            }
        }
        ko.bindingHandlers.jqAutoresize = {
            init: function (element, valueAccessor, aBA, vm) {
                if (!$(element).hasClass('msgTextArea')) {
                    $(element).css('height', '1em');
                }
                $(element).autosize();
            }
        };
        Selectize.define('inputMaxlength', function (options) {
            var self = this;
            this.setup = (function () {
                var original = self.setup;
                return function () {
                    original.apply(this, arguments);
                    this.$control_input.attr('maxlength', this.settings.inputMaxlength);
                };
            })();
        });
        ko.bindingHandlers.iCheck = { // integrating icheck plugin using bh
            init: function (element, valueAccessor) {
                //initialize icheck to the element
                $(element).iCheck({
                    radioClass: 'iradio_square-green'
                });
                $(element).on('ifChecked', function (event) {
                    var observable = valueAccessor();
                    observable.checked(event.target.defaultValue); //assigning selected value
                });
            }
        };
        ko.bindingHandlers.slick = (function () {
            var createImageDiv = function (imgUrl) {

                $a = $('<a>');
                $a.attr('href', imgUrl);
                //$a.attr('data-gallery', '#blueimp-gallery');
                $a.attr('target', '_blank');
                $div = $('<div>');
                $image = $('<img>');
                $image.attr('src', imgUrl);
                // $div.append($image);
                $a.append($image);
                $div.append($a);
                return $div;
            };

            // Initializes the carousel
            var init = function (element, valueAccessor, allBindingsAccessor) {
                // Clears the div
                $(element).empty();
                // Creates the inner divs with images
                var images = ko.unwrap(valueAccessor());
                if (images) {
                    images.forEach(function (imgUrl) {
                        $(element).append(createImageDiv(imgUrl));
                    });
                }

                // try to recover slickOptions
                var options = allBindingsAccessor().slickOptions || {};

                // Initialize slick on the div, with provided options
                $(element).slick(options);

                //handle disposal, if KO removes the element
                ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                    $(element).slick('unslick');
                });

                // check if there is slickIndex
                var slickIndex = allBindingsAccessor().slickIndex;
                if (slickIndex) {
                    $(element).slick('slickGoTo', ko.unwrap(slickIndex));
                }
                // If it's obervable, subscribe to its changes
                if (ko.isObservable(slickIndex)) {
                    slickIndex.subscribe(function (idx) {
                        $(element).slick('slickGoTo', idx);
                    });
                }
                // It if's writable observable, update when slick current index changes
                if (ko.isWritableObservable(slickIndex)) {
                    $(element).on('afterChange', function (evt, slick, pos) {
                        slickIndex(pos);
                    })
                }

                // Check if the array of images is an observable array
                var imagesArray = valueAccessor();
                // If it's observable array, subscribe to changes
                if (ko.isObservable(imagesArray) && 'destroyAll' in imagesArray) {
                    imagesArray.subscribe(function (changes) {
                        console.log(changes);
                        if (changes) {
                            changes.forEach(function (change) {
                                if (change.status == 'added') {
                                    // Add new img div at index
                                    var imgDiv = createImageDiv(change.value)[0];
                                    var index = change.index;
                                    var slideCount = $(element).slick('getSlick').slideCount;
                                    // if the index is out of range (which can happen
                                    // with push, and splice), include at the end
                                    var addBefore = true;
                                    if (index >= slideCount) {
                                        index = slideCount - 1;
                                        addBefore = false;
                                    }
                                    $(element).slick('slickAdd', imgDiv, index, addBefore);
                                } else if (change.status == 'deleted') {
                                    // delete img div at index
                                    $(element).slick('slickRemove', change.index);
                                }
                            });
                        }
                    }, null, 'arrayChange');
                } // if observable array
            }

            //update the control when the view model changes
            var update = function (element, valueAccessor) {
                var images = ko.unwrap(valueAccessor());
                // Do something to update the content
                console.log('update');
            }

            return { init: init, update: update };
        })();

        $(function () {

            toastr.options = {
                closeButton: true,
                progressBar: true,
                preventDuplicates: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
            ko.applyBindings(new viewModel());
            $.connection.hub.start().done();
        });

    </script>
}
